@import "/src/assets/style//global.scss";
.single {
  display: block;
  background-color: #fdf9f3d8;
  border: solid 20px $caratPink;
  padding: 20px;

  @include desktop {
    display: flex;
  }
  &__list {
    margin: 20px;

    @include tablet {
      margin: 50px;
    }
  }
  &__titleBar {
    display: block;
    @include desktop {
    }
  }
  &__title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #525252;
    @include tablet {
      font-size: 50px;
    }
    @include desktop {
      text-align: start;
      font-size: 100px;
    }
  }
  &__text {
    text-align: center;
    font-size: 15px;
    margin: 20px 0;
    color: #525252;
    margin-top: 25px;

    @include desktop {
      text-align: start;
      margin: 30px 0;
      font-size: 20px;
    }
  }
  &__person {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    @include tablet {
      padding: 50px 0;
    }
  }
  &__img {
    width: 50px;
    border: solid 5px #000000;
    margin: 10px;
    transition: width 1s;
    @include tablet {
      border: solid 8px #000000;
      width: 150px;
      margin: 40px;
    }
  }
}

.single__img:hover {
  width: 180px;
  box-shadow: 10px 10px rgb(255, 187, 0);
}
