@import "/src/assets/style//global.scss";
.footer {
  padding: 20px;
  &__text {
    color: $caratPink;
    margin: 10px;
  }
  &__textBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
