@import "/src/assets/style//global.scss";
.footer {
  display: block;
  text-align: center;
  padding: 20px;
  background-color: $caratBlue;

  @include tablet {
    gap: 50px;
  }

  &__text {
    color: $caratPink;
    margin: 10px;

    @include tablet {
      font-size: 20px;
    }
  }

  &__textBar {
    display: block;

    @include tablet {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}
