.marquee {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  font-size: 50px;
  white-space: nowrap;
  overflow: hidden;

  &__content {
    display: inline-block;
    padding-top: 8px;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }

    100% {
      transform: translate(-100%, 0);
    }
  }
}

.video {
  display: none;
  @include tablet {
    display: block;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 50px;
    width: 700px;
    height: 400px;
  }
  @include desktop {
    width: 900px;
    height: 600px;
  }
}

.squad {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: end;
  &__block {
    display: block;
    text-align: center;
  }
  &__titleBar {
    display: block;
    width: 100%;
    text-align: -webkit-center;
  }

  &__title {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-left: 50px;
    margin: 50px 0px;
    letter-spacing: 50px;
    font-family: $fontTitle;
    letter-spacing: 50px;
    @include tablet {
      font-size: 70px;
    }
  }

  &__imgList {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    @include tablet {
      margin-bottom: 50px;
    }
  }
  &__person {
    height: 150px;
    transition: box-shadow 1s;
    @include tablet {
      height: 450px;
    }
  }

  &__text {
    display: block;
    align-items: center;
    max-width: 1200px;
    color: #525252;
    font-weight: bold;
    font-size: 10px;
    line-height: 30px;
    padding: 0 20px;
    margin: 40px 20px;
    border-left: thick double #525252;
    border-right: thick double #525252;
    @include tablet {
      font-size: 20px;
      margin: 50px;
    }
  }
  &__marquee {
    background-color: rgb(9, 9, 22);
    color: rgb(255, 255, 255);
  }
}

.button {
  display: flex;
  justify-content: center;
  width: 100%;
  &__button {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    color: $caratBlue;
    background-color: $caratPink;
    border: $caratPink;
    border-radius: 30px;
    transition: box-shadow 0.2s;
    @include tablet {
      margin: 10px 10px 30px 10px;
      font-size: 20px;
    }
  }
}
