@import "/src/assets/style//global.scss";

.fans {
  display: flex;
  align-items: center;
  margin: 50px;
  width: 300px;
  height: 300px;
  border-radius: 50px;
  border: dashed 10px $caratPink;
  &__block {
    margin: 50px 0 50px 0;
  }
  &__title {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 20px;
    color: white;
    margin: 50px;
    @include tablet {
      font-size: 100px;
    }
  }
  &__person {
    color: rgba(255, 255, 255, 0.767);
    margin-bottom: 20px;
    font-size: 12px;
  }
  &__text {
    letter-spacing: 2px;
    margin: 20px;
    color: #535353f1;
    line-height: 30px;
  }
}
